<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>TP Nunjucks</title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <script type="module" src="/src/scripts/main.js" defer></script>
    </head>
    <body class="container-1280">
        {% include "composants/navigation.njk" %}
        <main>
            <h1 class="titre">{% set titre = "Site des patisseries" %}{{titre}}</h1>
            <ul class="pastries-list">

              {% for patisserie in patisseries %}
                  <li class="pastry">
                      <figure>
                          <img src="{{ patisserie.image }}" alt="{{ patisserie.name }}" loading="lazy">
                      </figure>

                      <section class="textes">
                          <h2 class="titre">{{ patisserie.name }}</h2>
                          <p class="description">
                              {{ patisserie.price }}
                          </p>
                      </section>
                  </li>
              {% endfor %}

          </ul>
        </main>

        {% set humeur = "tired" %}

            {% if humeur == "hungry" %}
            I am hungry
            {% elif humeur == "tired" %}
            I am tired
            {% else %}
            I am good!
            {% endif %}


        <footer class="footer">
            <p>Crédits Le ptit chef - 2003-2024</p>
        </footer>
    </body>
</html>