<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Il me faut un titre{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/fonts.css">
        <script type="module" src="/src/scripts/main.js" defer></script>
    </head>
    <body class="container-1280">
        {% include "composants/navigation.njk" %}
        <main>
            <h1 class="titre">{% block titleh1 %}Il me faut un titre de section{% endblock %}</h1>
        </main>

        {% set humeur = "tired" %}

            {% if humeur == "hungry" %}
            I am hungry
            {% elif humeur == "tired" %}
            I am tired
            {% else %}
            I am good!
            {% endif %}


        <footer class="footer">
            <p>Crédits Le ptit chef - 2003-2024</p>
        </footer>
    </body>
</html>